In [1]:
import docx

# Load the Word document
doc = docx.Document("/Users/clementngatia/Downloads/1. Statistical Analysis/SIMS Masters Graduation Report_Class of 2025_Draft 1 (2).docx")

# Get all tables
tables = doc.tables
print(f"Found {len(tables)} tables.")

Found 12 tables.

In [2]:
table1 =  tables[0]
table1

In [3]:
import pandas as pd

def table_to_df(table):
    data = []
    for row in table.rows:
        data.append([cell.text.strip() for cell in row.cells])
    return pd.DataFrame(data)

# Loop through tables[1] to tables[15]
for i in range(1, 12):
    df = table_to_df(tables[i])
    df.columns = df.iloc[0]        # Set first row as header
    df = df[1:]                    # Remove header row from data
    df.reset_index(drop=True, inplace=True)
    globals()[f'df{i}'] = df       # Create df1, df2, ..., df15

In [4]:
total_graduands = df1
total_graduands = total_graduands.iloc[:9, :9]
total_graduands

,Class,MSc. Mathematical Finance & Risk Analytics,MSc. Mathematical Finance & Risk Analytics,MSc. Statistical Science,MSc. Statistical Science,MSc. Biomathematics,MSc. Biomathematics,MSc. Data Science & Analytics,MSc. Data Science & Analytics
0,2017,3,4,4,1,1,-,-,8
1,2018,9,1,1,0,0,-,-,10
2,2019,4,3,3,1,1,-,-,8
3,2020,1,5,5,0,0,-,-,6
4,2021,16,6,6,1,1,-,-,23
5,2022,5,10,10,1,1,-,-,16
6,2023,1,4,4,1,1,2,2,8
7,2024,10,6,6,-,-,38,38,54
8,2025,12,15,15,6,6,52,52,85

In [5]:
intake_gender_2023 = df2
intake_gender_2023 = intake_gender_2023.iloc[:4, :3]
intake_gender_2023

,Program,Male Students,Female Students
0,Master of Science in Mathematical Finance & Ri...,3,5
1,Master of Science in Statistical Science,4,8
2,Master of Science in Biomathematics,3,4
3,Master of Science in Data Science and Analytics,39,36

In [6]:
completion_rate_2022 = df3
completion_rate_2022 = completion_rate_2022.iloc[:4,]
completion_rate_2022

,Program,2022 Intake,No. of Students Graduating,Completion Rate
0,Master of Science in Mathematical Finance,8,2,25%
1,Master of Science in Statistical Science,12,7,58%
2,Master of Science in Biomathematics,7,6,86%
3,Master of Science in Data Science and Analytics,75,26,35%

In [7]:
completion_rate_2023 = df4
completion_rate_2023 = completion_rate_2023.iloc[:4,]
completion_rate_2023

,Program,2023 Intake,Module V 2024,Students Graduating,Success Rate
0,Master of Science in Mathematical Finance & Ri...,8,8,2,25%
1,Master of Science in Statistical Science,12,11,7,64%
2,Master of Science in Biomathematics,7,7,6,86%
3,Master of Science in Data Science and Analytics,75,54,26,48%

In [8]:
overall_graduands_2025 = df5
overall_graduands_2025 = overall_graduands_2025.iloc[:4, :]
overall_graduands_2025

,Program,2023 Intake,Backlog\n(previous Cohorts),Total,Percentage
0,Master of Science in Mathematical Finance & Ri...,2,10,12,14%
1,Master of Science in Statistical Science,7,8,15,18%
2,Master of Science in Biomathematics,6,-,6,7%
3,Master of Science in Data Science and Analytics,26,26,52,62%

In [9]:
grads_2025_gender = df6
grads_2025_gender = grads_2025_gender.iloc[:4, :3]
grads_2025_gender.columns

Index(['Program', 'Male Graduands', 'Female Graduands'], dtype='object', name=0)

In [10]:
msc_dsa_grad_list = df7
msc_dsa_grad_list = msc_dsa_grad_list.loc[:, ~msc_dsa_grad_list.columns.duplicated()]
msc_dsa_grad_list.set_index('S/No.', inplace=True)
msc_dsa_grad_list

,Student No,Student Names,Gender,Intake,Average Mark,Average Grade,GPA
S/No.,,,,,,,
1,147513,"AGONG, Norman Angel",Male,May-22,May-22,B,3.09
2,145613,"ASWANI, Allan Ademba",Male,May-21,May-21,A,3.46
3,169522,"BAARIU, Yvonne Makena",Female,May-23,May-23,B,3.1
4,100054,"BABU, Eddah Waruguru",Female,May-23,May-23,C,2.84
5,145110,"CHANN, Isaac Otieno",Male,May-21,May-21,B,3.16
6,169194,"CHEPKIRUI, Sharon Tonui",Female,May-23,May-23,A,3.7
7,169375,"CLAUDINE, Linda Wa Nciko",Female,May-23,May-23,B,3.19
8,148454,"EYINDA, Christine Lorraine",Female,May-23,May-23,A,3.75
9,149796,"GAMBO, Dawe David",Male,May-22,May-22,B,3.34
10,169122,"GATHIMBA, Regina Wanjiru",Male,May-23,May-23,B,2.95
11,169405,"IMENDE, Michael Edward",Male,May-23,May-23,B,3.01
12,150961,"JEPKEMBOI, Jane",Female,May-22,May-22,B,3.3
13,169701,"KAMANU, David Nene",Male,May-23,May-23,A,3.73
14,94328,"KAMAU, Joyce Mukuhi",Female,May-21,May-21,B,3.26
15,138536,"KARIUKI, Martin Mwangi",Male,May-21,May-21,B,3.21
16,169111,"KATHURE, Bessy Mukaria",Female,May-23,May-23,B,3.45
17,169123,"KEMBOI, Stella",Female,May-23,May-23,B,3.29
18,168209,"KILONZO, Kelvin Ndambu",Male,May-23,May-23,A,3.49
19,70707,"KILYUNGI, Bonface Munyoki",Male,May-21,May-21,B,3.39
20,92833,"KIMANI, Wangari Ruth",Female,May-22,May-22,B,3.17
21,149794,"KINYUA, Caroline Nyaguthii",Female,May-22,May-22,B,3.46
22,169112,"KIPRONO, Jepkoech Gladys",Female,May-23,May-23,B,3.44
23,148988,"KIRIMI, Dennis Mwenda",Male,May-22,May-22,B,3.07
24,54667,"KIRUKI, Ruth Wambui",Female,May-22,May-22,B,2.97
25,169240,"LUBANGA, Derrick Nyangule",Male,May-23,May-23,B,3.15
26,78624,"MACHARIA, Crystal Njeri",Female,May-22,May-22,A,3.69
27,77465,"MAINA, Anthony Mwangi",Male,May-23,May-23,A,3.52
28,95729,"MAINA, George Kamau",Male,May-23,May-23,B,3.22
29,168951,"MAINGA, Cecilia Oketch",Female,May-23,May-23,A,3.78
30,94946,"MATANO, Allan Mutethiah",Male,May-22,May-22,B,2.94
31,169540,"MAVINDU, Ruth Mwende",Female,May-23,May-23,B,3.32
32,149910,"MBUTHU, Valentine Masungwa",Female,May-23,May-23,B,3.17
33,152377,"MUCHOKI, Eric Brian Muturo",Male,May-23,May-23,B,3.24
34,169118,"MUKHANYA, Moses Wabwile",Male,May-23,May-23,B,3.07
35,145063,"MULE, Daniel Mbatha",Male,May-21,May-21,B,3.13
36,151147,"MWADIME, W Nicholas",Male,May-22,May-22,B,3.12
37,94573,"MWANGI, Morrine Nduta",Female,May-22,May-22,B,3.03
38,169526,"NGARUIYA, Esther Nduta",Female,May-23,May-23,A,3.58
39,168403,"NYABUTI, Sharon Kemunto",Female,May-23,May-23,B,3.12
40,145615,"ODERA, Yvonne Juliana Dima",Female,May-21,May-21,B,3.08
41,166895,"OGADA, Joseph Ridge",Male,May-23,May-23,B,3.32
42,100060,"OGAMBA, Maria Bosibori",Female,May-22,May-22,B,3.19
43,82706,"OKERO, Michael Omondi",Male,May-22,May-22,B,2.97
44,169093,"OLADIRAN, Monilade Omolola",Female,May-23,May-23,B,3.37
45,149481,"ONYANGO, Calvince Ogutu",Male,May-22,May-22,B,3.14
46,150904,"OPIYO, Carol Akinyi",Female,May-22,May-22,B,3.32
47,54952,"ORWARU, Rose Kwamboka",Female,May-21,May-21,B,2.88
48,150683,"OSORO, Faith Mirriam",Female,May-22,May-22,B,3.26
49,51234,"OUMA, Munyendo Evans",Male,May-21,May-21,A,3.5
50,169589,"WAMALWA, Lindah Kelida",Female,May-23,May-23,A,3.53
51,94306,"WANYOIKE, Eunice Waruguru",Female,May-21,May-21,C,2.85
52,167860,"WASWA, Paul Wekesa",Male,May-23,May-23,B,3.15

In [11]:
pending_students_2023 =df8
pending_students_2023 = pending_students_2023.iloc[:4, :5]
pending_students_2023

,Program,2023 Intake,No. Graduating,Dropped out/ Transferred,Pending Students
0,Master of Science in Mathematical Finance,8,2,-,6
1,Master of Science in Statistical Science,12,7,-,5
2,Master of Science in Biomathematics,7,6,-,1
3,Master of Science in Data Science and Analytics,75,26,2,47

In [12]:
df9.columns = df9.iloc[0, :].values
df9 = df9.iloc[1:]
print(df9)

msc_dsa_pending_current = df9

   S/No. Student Number               Student Details     No. of Pending Units
1      1         168213      Mureithi, Esther Wanjiku                   1 Unit
2      2         169406                 Amule, Edward                   1 Unit
3      3          80925        Ng'ang'a, Simon Kihara                  2 Units
4      4          69298             Wawire, Mercyline                  2 Units
5      5          96002          Gitonga, John Mwangi                  2 Units
6      6         150119          Theuri, John Gitonga                  2 Units
7      7         169116              Ngetich, Abraham                  2 Units
8      8         169124        Kigotho, Samuel Irungu                  2 Units
9      9         169126           Wabwoba, S. Abigail                  2 Units
10    10         169274           Orege, Ian Kesohore                  2 Units
11    11          61596     Kihang'a, Solomon Wabacha                  3 Units
12    12          95244         Kirwa, Cherono Brenda                  3 Units
13    13         167209       Nyaberi, Graham Nyasoko                  3 Units
14    14         168952           Mbugua, Alex Gikaru                  3 Units
15    15         169113             Sonye, Henry Ayah                  3 Units
16    16         100258          Gachoka, Eva Wanjiru                  4 Units
17    17          78377              Kitui, Paul John                  3 Units
18    18         168363        Ibrahim, Naima Mohamed                  4 Units
19    19         169376            Obunga, Jean Keith                  4 Units
20    20         121777      Simala, Odhiambo Leonard                  5 Units
21    21         152226        Obaga, Emmanuel Bongwe                  5 Units
22    22         168211         Ochieng, Atieno Mercy                  6 Units
23    23         169702           Otieno, Horace Ouma                  7 Units
24    24          63827     Kiplagat, Beatrice Jelimo                  8 Units
25    25         168950      Kiprop, Jepkosgei Judith                  8 Units
26    26         169127     Mohammed, Abdulaziz Rajab                  8 Units
27    27         169371       Aswani, Fridah Obuchela                  9 Units
28    28         101327  Sindayikengera, Lily Jorelle                  9 Units
29    29          76829       Ng'ang'a, Sheila Wambui                 10 Units
30    30         136686     Waithaka, Brooklyne Njeri                 11 Units
31    31          93938      Kiplagat, Kelvin Kimutai                 12 Units
32    32         168210       Mwaniki, Erastus Musili                 13 Units
33    33          78232       Kariuki, Francis Kabutu                 14 Units
34    34         169125       Washiali, Mashere Susan                 14 Units
35    35         168332        Kandeya, Rutendo Julia                 15 Units
36    36          95381      Ototo, Alphonsinah Mogoi                 17 Units
37    37         169114                 Samoe, Stacey  17 Units ACADEMIC LEAVE
38    38          49618          Muriuki, Kevin Maina                 18 Units
39    39         166573             Peter, May Mumbua  18 Units ACADEMIC LEAVE
40    40         169411         Ooko, Hesbon Odhiambo                 20 Units
41    41          75786     Mbotela, Immanuel Malombe                 21 Units
42    42         152906           Sugut, Grace Jerono                 21 Units
43    43         167205                Kipkoech, Mark                 21 Units
44    44         169117                 Odanga, Hilda                 21 Units
45    45         169374         Mwanza, Maurice Mutua                 21 Units
46    46         169529           Malu, Muamba Mylene                 21 Units

In [13]:
df10

,S/No.,Student Number,Student Details,Class of,No. of Pending Units
0,1,151148,"Nderito, Kigen Gatere",2024,1 Unit (Dissertation)
1,2,149076,"Njogu, Charles Kabui",2024,1 unit (DSA 8302)
2,3,83303,"Ramadhan, Khidir Ismail",2024,2 Units
3,4,69139,"Awuor, Joyce Naomi",2024,4 Units
4,5,150684,"Waithera, Richard Kabiru",2024,5 Units
5,6,149978,"Gichuki, Michael Mwangi",2024,6 Units
6,7,050953,"Bodo, Joyce Anyango",2024,7 Units
7,8,78375,"Otieno, Billy Opiyo",2024,11 Units
8,9,151384,"Joseph, Anette Kerubo",2024,11 Units
9,10,148987,"Jaffery, Mwangi Ndisho",2024,13 Units
10,11,81757,"Yogo, Lousa Sheenaz",2024,15 Units
11,12,102156,"Papa, Blaise",2024,Academic Leave
12,13,110445,"Njimu, Stacy Waithera",2024,Deferred
13,14,46724,"Kariuki, Michael Gichure",2024,Deferred
14,15,151617,"Migolo, Naboth Benjamin",2024,Deferred

In [14]:
df10.columns

Index(['S/No.', 'Student Number', 'Student Details', 'Class of',
       'No. of Pending Units'],
      dtype='object', name=0)

In [15]:
backlog_2024 = df10

In [16]:
df11 = df11.loc[:, ~df11.columns.duplicated()]

In [17]:
df11

0   16  145684      Ndiritu, Timothy Wahome  2023  1 Unit (Dissertation)
0   17  144910         Onyango, James Oduor  2023  1 Unit (Dissertation)
1   18  145052          Mboya, Daisy Akinyi  2023  1 Unit (Dissertation)
2   19  145056           Nguti, Lydia Mukii  2023  1 Unit (Dissertation)
3   20  145076  Muninzwa, Donstefano Afubwa  2023  1 Unit (Dissertation)
4   21   71167      Rugendo, Esther Muthoni  2023  1 Unit (Dissertation)
5   22  145111         Makori, Joseph Orina  2023                 1 Unit
6   23  144894                Mugambi, Mike  2023                 1 Unit
7   24   78052       Simiyu, Barbara Lusike  2023                  1Unit
8   25  106218     Gichuhi, Getrude Gathoni  2023                2 Units
9   26  144896       Juma, Joseph Matundura  2023                2 Units
10  27  145049          Ambutu, Joan Karimi  2023                2 Units
11  28  145054           Kyalo, Henry Muoki  2023                2 Units
12  29  145628     Mutugi, Antoinette Ndega  2023                3 Units
13  30   95227          Sime, Victor Omondi  2023                4 Units
14  31   84705     Musombi, Christian Bruce  2023                6 Units
15  32   78952               Wanjiru, Sally  2023                9 Units
16  33  145616           Mise, Lucy Muhonja  2023                8 Units
17  34  145078     Sammy, Beritah Catherine  2023                9 Units
18  35  134000      Oyatsi, Adera Alexander  2023               16 Units
19  36  144893  Wanambuko, Emmanuel Mukhebo  2023               16 Units
20  37   91265       Gitahi, Stephen Kinyua  2023               16 Units
21  38   71071           Oguda, Alex Onyino  2023               Deferred
22  39  145108       Onyango, Victor Omondi  2023               Deferred

In [18]:
df11.loc[-1] = df11.columns           # Add current column names as a new row
df11.index = df11.index + 1          # Shift all existing rows down
df11 = df11.sort_index()
df11

/var/folders/tr/7nczqy6957313cq459kdk1ch0000gn/T/ipykernel_76621/1584415844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11.loc[-1] = df11.columns           # Add current column names as a new row

0   16  145684      Ndiritu, Timothy Wahome  2023  1 Unit (Dissertation)
0   16  145684      Ndiritu, Timothy Wahome  2023  1 Unit (Dissertation)
1   17  144910         Onyango, James Oduor  2023  1 Unit (Dissertation)
2   18  145052          Mboya, Daisy Akinyi  2023  1 Unit (Dissertation)
3   19  145056           Nguti, Lydia Mukii  2023  1 Unit (Dissertation)
4   20  145076  Muninzwa, Donstefano Afubwa  2023  1 Unit (Dissertation)
5   21   71167      Rugendo, Esther Muthoni  2023  1 Unit (Dissertation)
6   22  145111         Makori, Joseph Orina  2023                 1 Unit
7   23  144894                Mugambi, Mike  2023                 1 Unit
8   24   78052       Simiyu, Barbara Lusike  2023                  1Unit
9   25  106218     Gichuhi, Getrude Gathoni  2023                2 Units
10  26  144896       Juma, Joseph Matundura  2023                2 Units
11  27  145049          Ambutu, Joan Karimi  2023                2 Units
12  28  145054           Kyalo, Henry Muoki  2023                2 Units
13  29  145628     Mutugi, Antoinette Ndega  2023                3 Units
14  30   95227          Sime, Victor Omondi  2023                4 Units
15  31   84705     Musombi, Christian Bruce  2023                6 Units
16  32   78952               Wanjiru, Sally  2023                9 Units
17  33  145616           Mise, Lucy Muhonja  2023                8 Units
18  34  145078     Sammy, Beritah Catherine  2023                9 Units
19  35  134000      Oyatsi, Adera Alexander  2023               16 Units
20  36  144893  Wanambuko, Emmanuel Mukhebo  2023               16 Units
21  37   91265       Gitahi, Stephen Kinyua  2023               16 Units
22  38   71071           Oguda, Alex Onyino  2023               Deferred
23  39  145108       Onyango, Victor Omondi  2023               Deferred

In [19]:
df11.columns = df10.columns
backlog_2023 = df11